footer {
    text-align: left;
    padding: 20px;
    background: var(--accent-color);
    color: white;

    .footer-container {
        max-width: fit-content;
        margin: 0 auto;
    }

    p {
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--text-color);
    }

    img {
        width: 20px;
        aspect-ratio: 1;
        object-fit: contain;
    }
}