:root {
    --bg-color: #070508;
    --text-color: #5faf5f;
    --accent-color: #0d3b0d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: monospace;
    background-color: var(--bg-color);
    background-image: url('/images/background-image.png');
    background-size: contain;
    background-repeat: no-repeat;
    color: var(--text-color);
    overflow-x: hidden;
}

img, a {
    user-drag: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

a {
    text-decoration: none;
}

::selection {
    background-color: #808080;
    color: #ffffff;
}

h3 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

section {
    padding: 50px;
    @media(max-width: 480px){
        padding: 20px;
    }
}