:root {
    --bg-color: hsl(220, 20%, 8%);
    --card-color: hsl(220, 20%, 12%);
    --text-color: hsl(0, 0%, 92%);
    --accent-color: hsl(145, 70%, 55%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: monospace;
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}

canvas {
    background-color: var(--bg-color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

img, a {
    user-drag: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

a {
    text-decoration: none;
}

::selection {
    background-color: #808080;
    color: #ffffff;
}

h3 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

section {
    padding: 50px;
    @media(max-width: 480px){
        padding: 20px;
    }
}

.tooltip-container {
    position: relative;

    .tooltip {
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        visibility: hidden;
        background-color: #000;
        color: #fff;
        border-radius: 4px;
        padding: 4px;
        margin-bottom: 4px;
        font-size: 8px;
        white-space: nowrap;
        pointer-events: none;
        transition: opacity 0.3s ease;
    }

    &:hover {
        .tooltip {
            opacity: 1;
            visibility: visible;
        }
    }

    &.scale-on-hover {
        transition: transform 0.3s ease;
    }
    &.scale-on-hover:hover {
        transform: scale(1.3);
    }
}